{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "order/properties-alphabetical-order": true,
    "keyframes-name-pattern": "^[a-z][a-zA-Z0-9]+$",
    "selector-class-pattern": null,
    "custom-property-pattern": null,
    "no-empty-source": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "media-feature-range-notation": null,
    "no-duplicate-selectors": true,
    "declaration-block-no-duplicate-properties": true,
    "selector-max-specificity": "0,3,0",
    "selector-max-compound-selectors": 3,
    "selector-max-id": 1
  }
}