@import './variables.css';

.input-form-container {
  margin: 20px 0;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

label {
  display: flex;
  flex-direction: column;
  color: var(--text-color); /* Weißer Text für besseren Kontrast */
}

input, select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color); /* Akzentfarbe */
  color: var(--text-color); /* Weißer Text */
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--secondary-color); /* Dunklere Akzentfarbe */
}

.username-display {
  margin-top: 10px;
  font-size: 1.2em;
  color: var(--text-color); /* Weißer Text */
}