@import './variables.css';

.nip1-container {
  padding: 20px;
  animation: fadeInFromTop 3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Stellt sicher, dass das Element die volle Höhe des Viewports einnimmt */
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nip1-container h2 {
  font-size: var(--font-size-large); /* Verwende die globale Schriftgröße */
  margin-bottom: 20px;
  animation: fadeInFromTop 2s ease-in-out;
  text-align: center; /* Zentriert den Text horizontal */
}

.nip1-container p, .nip1-container ul {
  font-size: var(--font-size-medium); /* Verwende die globale Schriftgröße */
  line-height: 1.6;
  margin-bottom: 20px;
  animation: fadeInFromTop 2s ease-in-out;
  text-align: left; /* Links bündig */
  width: 100%; /* Stellt sicher, dass die Absätze die volle Breite einnehmen */
}

.fetched-event {
  width: 100%; /* Stellt sicher, dass der Container die volle Breite einnimmt */
  max-width: 800px; /* Begrenze die maximale Breite auf 800px */
  overflow-x: auto; /* Horizontales Scrollen ermöglichen */
  margin: 0 auto; /* Zentriere den Container horizontal */
}

.formatted-text {
  white-space: pre; /* Beibehaltung aller Leerzeichen und Zeilenumbrüche, ohne Umbrüche zu erlauben */
  overflow-x: auto; /* Horizontales Scrollen ermöglichen */
  padding: 10px; /* Padding hinzufügen */
  background-color: var(--background-color); /* Hintergrundfarbe für den JSON-Container */
  border-radius: 4px; /* Abgerundete Ecken */
  border: 1px solid var(--border-color); /* Rahmenfarbe */
  font-family: 'Courier New', Courier, monospace; /* Monospace-Schriftart */
  max-width: 100%; /* Begrenze die maximale Breite auf 100% des übergeordneten Containers */
}

.link {
  color: var(--primary-color);
}

.json-key {
  color: var(--primary-color); /* Farbe für JSON-Schlüssel */
}

.json-value {
  color: var(--secondary-color); /* Farbe für JSON-Werte */
}

.json-string {
  color: var(--text-color); /* Farbe für JSON-Strings */
}

.json-number {
  color: var(--text-color); /* Farbe für JSON-Zahlen */
}

.json-boolean {
  color: var(--primary-color); /* Farbe für JSON-Boolean */
}

.json-null {
  color: var(--primary-color); /* Farbe für JSON-Null */
}

.json-bracket {
  color: var(--text-color); /* Farbe für JSON-Klammern */
}

.input-form-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-form-container label {
  font-size: var(--font-size-medium);
  margin-bottom: 10px;
}

.input-form-container input {
  padding: 10px;
  font-size: var(--font-size-medium);
  margin-bottom: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.input-form-container button {
  padding: 10px 20px;
  font-size: var(--font-size-medium);
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-form-container button:hover {
  background-color: var(--button-hover-background-color);
}

/* Media Query für Bildschirme kleiner als 600px */
@media (max-width: 576px) {
  .nip1-container h2 {
    font-size: 2.5em;
  }

  .nip1-container p, .nip1-container ul {
    font-size: 1.1em;
  }

  .formatted-text {
    padding: 5px; /* Weniger Padding auf kleinen Bildschirmen */
    font-size: 14px; /* Kleinere Schriftgröße auf kleinen Bildschirmen */
  }
}

/* Media Query für Bildschirme zwischen 600px und 1200px */
@media (max-width: 1200px) {
  .nip1-container h2 {
    font-size: 2em;
  }

  .nip1-container p, .nip1-container ul {
    font-size: 1em;
  }

  .formatted-text {
    padding: 8px; /* Mittleres Padding auf mittleren Bildschirmen */
    font-size: 16px; /* Mittlere Schriftgröße auf mittleren Bildschirmen */
  }
}

/* Media Query für Bildschirme größer als 1200px */
@media (max-width: 1200px) {
  .nip1-container h2 {
    font-size: 1.8em;
  }

  .nip1-container p, .nip1-container ul {
    font-size: 0.9em;
  }

  .formatted-text {
    padding: 10px; /* Standard Padding auf großen Bildschirmen */
    font-size: 18px; /* Größere Schriftgröße auf großen Bildschirmen */
  }
}
.link{
  color: var(--primary-color);
}