@import './variables.css';

.nip1-container {
  padding: 20px;
  animation: fadeInFromTop 3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Stellt sicher, dass das Element die volle Höhe des Viewports einnimmt */
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nip1-container h2 {
  font-size: 3em; /* Erhöhen Sie die Schriftgröße */
  margin-bottom: 20px;
  animation: fadeInFromTop 2s ease-in-out;
  text-align: center; /* Zentriert den Text horizontal */
}

.nip1-container p, .nip1-container ul {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  animation: fadeInFromTop 2s ease-in-out;
  text-align: left; /* Links bündig */
  width: 100%; /* Stellt sicher, dass die Absätze die volle Breite einnehmen */
}

.formatted-text {
  white-space: pre-wrap; /* Beibehaltung aller Leerzeichen und Zeilenumbrüche, aber erlaubt Umbrüche */
  overflow: hidden;
  word-wrap: break-word; /* Zeilenumbruch bei langen Wörtern */
  word-break: break-all; /* Erzwingt Zeilenumbruch bei langen Wörtern */
  padding: 10px; /* Padding hinzufügen */
  tab-size: 1; /* Tab-Größe für Einrückung */
  text-indent: 0em; /* Einrückung der ersten Zeile */
  background-color:  var(--background-color); /* Hintergrundfarbe für den JSON-Container */
  border-radius: 4px; /* Abgerundete Ecken */
  border: 1px solid #ddd; /* Rahmenfarbe */
  font-family: 'Courier New', Courier, monospace; /* Monospace-Schriftart */
}

.json-key {
  color: #a71d5d; /* Farbe für JSON-Schlüssel */
}

.json-value {
  color: #0086b3; /* Farbe für JSON-Werte */
}

.json-string {
  color:var(--text-color); /* Farbe für JSON-Strings */
}

.json-number {
  color: var(--secondary-color); /* Farbe für JSON-Zahlen */
}

.json-boolean {
  color: #a71d5d; /* Farbe für JSON-Boolean */
}

.json-null {
  color: #a71d5d; /* Farbe für JSON-Null */
}

.json-bracket {
  color: #333; /* Farbe für JSON-Klammern */
}

/* Media Query für Bildschirme kleiner als 600px */
@media (max-width: 600px) {
  .nip1-container h2 {
    font-size: 2.5em;
  }

  .nip1-container p, .nip1-container ul {
    font-size: 1.1em;
  }

  .formatted-text {
    padding: 5px; /* Weniger Padding auf kleinen Bildschirmen */
    font-size: 14px; /* Kleinere Schriftgröße auf kleinen Bildschirmen */
  }
}

/* Media Query für Bildschirme zwischen 600px und 1200px */
@media (min-width: 600px) and (max-width: 1200px) {
  .nip1-container h2 {
    font-size: 2em;
  }

  .nip1-container p, .nip1-container ul {
    font-size: 1em;
  }

  .formatted-text {
    padding: 8px; /* Mittleres Padding auf mittleren Bildschirmen */
    font-size: 16px; /* Mittlere Schriftgröße auf mittleren Bildschirmen */
  }
}

/* Media Query für Bildschirme größer als 1200px */
@media (min-width: 1200px) {
  .nip1-container h2 {
    font-size: 1.8em;
  }

  .nip1-container p, .nip1-container ul {
    font-size: 0.9em;
  }

  .formatted-text {
    padding: 10px; /* Standard Padding auf großen Bildschirmen */
    font-size: 18px; /* Größere Schriftgröße auf großen Bildschirmen */
  }
}