:root {
  --primary-color: #CA36B9;
  --secondary-color: #1F1827;
  --tertiary-color: #201928;
  --text-color: #fff;

  /* Abgeleitete Farben */
  --background-color: rgba(var(--secondary-color-rgb), 0.8);
  --hover-background-color: rgba(var(--tertiary-color-rgb), 0.8);
  --navbar-background-color: rgba(var(--secondary-color-rgb), 0);
  --border-color: rgba(var(--tertiary-color-rgb), 0.5);
  --button-hover-background-color: rgba(var(--primary-color-rgb), 0.1);

  /* Schriftgrößen */
  --font-size-large: 3em;
  --font-size-medium: 1.2em;
  --font-size-small: 1em;
  --font-size-xsmall: 0.9em;
  --font-size-xxsmall: 0.8em;
}

/* RGB-Werte der Hauptfarben */
:root {
  --primary-color-rgb: 202, 54, 185;
  --secondary-color-rgb: 31, 24, 39;
  --tertiary-color-rgb: 32, 25, 40;
}